/* Write CSS code here */
.calculator{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#display{
    padding: 20px;
    font-size: 30px;
    border: none;
    text-align: right;
    background-color: grey;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 105px);
}
.btn{
    padding: 20px;
    font-size: 20px;
    border: 1px solid #000;
    background-color: #9dd1ae;
    cursor: pointer;
}
